<div class="container">
  <header>
    <h1>Bienvenue!</h1>
    <p>Explorez votre plateforme de communication en temps réel avec Twilio et Spring Boot.</p>
  </header>

  <main>
    <div class="buttons">
      <button class="nav-button" [routerLink]="['/profile']">Consulter Mon Profil</button>
      <button class="nav-button" [routerLink]="['/sms']">Envoyer un sms</button>
      <button class="nav-button" [routerLink]="['/mail']">Envoyer un email</button>
      <button class="nav-button" [routerLink]="['/call']">Passer une appel</button>

    </div>
  </main>

  <footer>
    <p>© 2025 - Application de Chat et Appels en Temps Réel</p>
  </footer>
</div>
